.mainpadding {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
    @include until($desktop) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.dollarprice:before {
    content: "€ "; 

}

h3 {
  @include until($tablet) {
    font-size: 1rem !important;
  }
}